include           CHANGES.md
include           constraints.txt
include           CONTRIBUTING.md
include           .env
include           manage.py
include           noxfile.py
include           .pre-commit-config.yaml
include           pyproject.toml
include           requirements.*
recursive-include *.sql
recursive-include tests *.py
global-exclude    *~
