include           CONTRIBUTING.md
include           manage.py
include           noxfile.py
include           .pre-commit-config.yaml
include           pyproject.toml
include           requirements.*
recursive-include src/cetk *.sql
recursive-include tests *.py
