# CI/CD and development requirements for the Gadget
build
coverage[toml]
nox
pip >=26.2.0
pip-tools
pre-commit
pytest >=9.0.3
pytest-cov
pytest-django
ruff
setuptools
setuptools-scm
uv >=0.11.15
virtualenv >=20.36.1
wheel >=0.46.2
