# CI/CD and development requirements for the Gadget
build
coverage[toml]
nox
pip-tools
pip>=26.2.0
pre-commit
pytest
pytest-cov
pytest-django
ruff
setuptools >=83.0.0
setuptools-scm
uv
virtualenv >=20.36.1
wheel >=0.46.2
